<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row" style="width:100%; border-bottom: groove;">
            <div class="col-1" style="background-color:aqua;">
                <p>ROTA</p>
            </div>
            <div class="col" style="background-color:aliceblue">
                <h1>Mon</h1>
            </div>
            <div class="col" style="background-color:antiquewhite">
                <h1>Tue</h1>
            </div>
            <div class="col" style="background-color:aquamarine">
                <h1>Wed</h1>
            </div>
            <div class="col" style="background-color:azure">
                <h1>Thur</h1>
            </div>
            <div class="col" style="background-color:cadetblue">
                <h1>Fri</h1>
            </div>
            <div class="col" style="background-color:cyan">
                <h1>Sat</h1>
            </div>
            <div class="col" style="background-color:darkturquoise">
                <h1>Sun</h1>
            </div>
        </div>
        <div ng-repeat="x in vm.RotaRows" class="row" style="width:100%; height:25%; border-bottom: groove;">
            <div class="col-1" style="background-color:aqua" contenteditable="{{vm.Editable}}">
                #Time#
            </div>
            <div class="col" style="background-color:aliceblue" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:antiquewhite" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:aquamarine" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:azure" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:cadetblue" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:cyan" contenteditable="{{vm.Editable}}">
                Test
            </div>
            <div class="col" style="background-color:darkturquoise" contenteditable="{{vm.Editable}}">
                Test
            </div>
        </div>
    </div>
    <button ng-click="vm.AddNewRow()">Add New Time</button>
    <button ng-click="vm.EnableEditing()">Edit</button>
</body>
</html>