<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row" style="width:100%">
            <div class="col-1" style="background-color:aqua">
                <p>ROTA</p>
            </div>
            <div class="col" style="background-color:aliceblue">
                <h1>Mon</h1>
            </div>
            <div class="col" style="background-color:antiquewhite">
                <h1>Tue</h1>
            </div>
            <div class="col" style="background-color:aquamarine">
                <h1>Wed</h1>
            </div>
            <div class="col" style="background-color:azure">
                <h1>Thur</h1>
            </div>
            <div class="col" style="background-color:cadetblue">
                <h1>Fri</h1>
            </div>
            <div class="col" style="background-color:cyan">
                <h1>Sat</h1>
            </div>
            <div class="col" style="background-color:darkturquoise">
                <h1>Sun</h1>
            </div>
        </div>
        <div class="row" style="width:100%; height:25%">
            <div class="col-1" style="background-color:aqua">
                <p>-AM-</p>
            </div>
            <div class="col" style="background-color:aliceblue">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:antiquewhite">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:aquamarine">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:azure">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:cadetblue">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:cyan">
                <p>Test</p>
            </div>
            <div class="col" style="background-color:darkturquoise">
                <p>Test</p>
            </div>
        </div>
        <div class="row" style="width:100%; height:25%">
            <div class="col-1" style="background-color:aqua">
                <p>-PM-</p>
            </div>
            <div class="col" style="background-color:aliceblue">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:antiquewhite">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:aquamarine">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:azure">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:cadetblue">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:cyan">
                <h1>Test</h1>
            </div>
            <div class="col" style="background-color:darkturquoise">
                <h1>Test</h1>
            </div>
        </div>
    </div>
</body>
</html>