<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row" style="width:100%; border-bottom: groove;">
            <div class="col-1" style="background-color:aqua;">
                <p>ROTA</p>
            </div>
            <div class="col" style="background-color:aliceblue">
                <h1>Mon</h1>
            </div>
            <div class="col" style="background-color:antiquewhite">
                <h1>Tue</h1>
            </div>
            <div class="col" style="background-color:aquamarine">
                <h1>Wed</h1>
            </div>
            <div class="col" style="background-color:azure">
                <h1>Thur</h1>
            </div>
            <div class="col" style="background-color:cadetblue">
                <h1>Fri</h1>
            </div>
            <div class="col" style="background-color:cyan">
                <h1>Sat</h1>
            </div>
            <div class="col" style="background-color:darkturquoise">
                <h1>Sun</h1>
            </div>
        </div>

        
        <div ng-repeat="x in vm.RotaRows" class="row" style="width:100%; height:25%; border-bottom: groove;">
                <div class="col-1" style="background-color:aqua">
                    <input ng-model="vm.RotaRows[$index].Time" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:aliceblue">
                    <input ng-model="vm.RotaRows[$index].Monday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:antiquewhite">
                    <input ng-model="vm.RotaRows[$index].Tuesday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:aquamarine">
                    <input ng-model="vm.RotaRows[$index].Wednesday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:azure">
                    <input ng-model="vm.RotaRows[$index].Thursday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:cadetblue">
                    <input ng-model="vm.RotaRows[$index].Friday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:cyan">
                    <input ng-model="vm.RotaRows[$index].Saturday" ng-disabled="vm.Editable"/>
                </div>
                <div class="col" style="background-color:darkturquoise">
                    <input ng-model="vm.RotaRows[$index].Sunday" ng-disabled="vm.Editable"/>
                </div>
                <button ng-click="vm.EnableEditing($index)">Edit</button>
        </div>
    </div>
    <button ng-click="vm.AddNewRow()">Add New Time</button>
   
</body>
</html>