
<h1 class="text-center">Shared House Management Studio</h1>
<div>
    <a href="#" ng-click="vm.toggleLeft()" class="md-raised">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg" />
    </a>
</div>

<md-sidenav class="md-sidenav-left" md-component-id="left">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Naviagtion</h1>
    </md-toolbar>

    <md-content layout-margin>
        <h1>New Product</h1>
        <md-button class="md-accent" href="/products">
            New product
        </md-button>
        <h1>Products</h1>
        <md-button class="md-accent">
            I have Purcahse
        </md-button>
        <md-button class="md-accent">
            I have not paid my share
        </md-button>
        <md-button class="md-accent">
            I have paid my share
        </md-button>
        <h1>Bills</h1>
        <md-button class="md-accent">
            I have paid in full
        </md-button>
        <md-button class="md-accent">
            I have paid my share
        </md-button>
        <md-button class="md-accent">
            I have paid my share
        </md-button>
        <h1>Cleaning Rota</h1>
        <md-button class="md-accent">
            Rota
        </md-button>
        <h1>Login</h1>
        <md-button class="md-accent" href="/login">
            Login
        </md-button>
    </md-content>

</md-sidenav>


